[submodule "subst"]
	path = public/subst
	url = git@github.com:kaz-utashiro/greple-subst.git
[submodule "wordle"]
	path = public/wordle
	url = git@github.com:kaz-utashiro/greple-wordle.git
[submodule "ical"]
	path = public/ical
	url = git@github.com:kaz-utashiro/greple-ical.git
[submodule "sccc2"]
	path = public/sccc2
	url = git@github.com:kaz-utashiro/greple-sccc2.git
[submodule "frame"]
	path = public/frame
	url = git@github.com:kaz-utashiro/greple-frame.git
[submodule "greple"]
	path = public/greple
	url = git@github.com:kaz-utashiro/greple.git
[submodule "pw"]
	path = public/pw
	url = git@github.com:kaz-utashiro/greple-pw
[submodule "aozora"]
	path = public/aozora
	url = git@github.com:kaz-utashiro/greple-aozora
[submodule "ppi"]
	path = public/ppi
	url = github.com:kaz-utashiro/greple-ppi.git
[submodule "subst-desumasu"]
	path = public/subst-desumasu
	url = git@github.com:kaz-utashiro/greple-subst-desumasu.git
[submodule "jq"]
	path = public/jq
	url = git@github.com:kaz-utashiro/greple-jq.git
[submodule "xp"]
	path = public/xp
	url = git@github.com:kaz-utashiro/greple-xp.git
[submodule "git"]
	path = public/git
	url = git@github.com:kaz-utashiro/greple-git.git
[submodule "daemon3"]
	path = public/daemon3
	url = git@github.com:kaz-utashiro/greple-daemon3.git
[submodule "mecab"]
	path = public/mecab
	url = git@github.com:kaz-utashiro/greple-mecab.git
[submodule "tel"]
	path = private/tel
	url = git@github.com:kaz-utashiro/greple-tel.git
[submodule "msdoc"]
	path = public/msdoc
	url = git@github.com:kaz-utashiro/greple-msdoc.git
[submodule "p5-script-runner"]
	path = public/p5-script-runner
	url = git@github.com:kaz-utashiro/p5-script-runner.git
[submodule "type"]
	path = public/type
	url = git@github.com:kaz-utashiro/greple-type.git
[submodule "cm"]
	path = public/cm
	url = git@github.com:kaz-utashiro/greple-cm.git
[submodule "update"]
	path = public/update
	url = git@github.com:kaz-utashiro/greple-update.git
[submodule "public/tee"]
	path = public/tee
	url = https://github.com/kaz-utashiro/App-Greple-tee.git
[submodule "public/xlate"]
	path = public/xlate
	url = https://github.com/kaz-utashiro/App-Greple-xlate.git
